#main {
  background: #efefef;
  align-items: flex-start;
  justify-content: flex-start;
}

.dashboard-container {
  height: 80vh;
}

.wrapper {
  align-content: center;
  margin-top: 2rem;
  padding: 0 1rem;
}

.dashboard-links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.links {
  width: 140px;
  border-right: 0.5rem solid #cccccc;
  margin-bottom: 0.75rem; 
  background: #22026b;
  text-align: center;
}

.links a {
  display: inline-block;
  padding: 1rem 0.75rem;
  text-decoration: none;
  color: #fff;
}

.dashboard-items {
  width: 40vw;
  margin: 2rem 0;
  padding: 0.4rem;
}