#view, #retract, #delete {
  width: 60px;
  font-size: 0.75rem;
  background-color: green;
  color: #ffffff;
  border: none;
  margin: 0.3rem 0;
  padding: 0.3rem 0.8rem;
}

#delete {
  background-color: red;
}

table tr td, table tr th {
  font-size: 0.75rem;
  padding: 1rem;
  margin: 1.5rem 0;
  text-align: left;
}