html {
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}

.header {
  min-height: 10vh;
  background: linear-gradient(to right, #22026b, #280c50);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.header h1 {
  font-size: 2rem;
}

.header a {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
}

.header ul li a {
  display: inline-block;
  padding: 20px;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}

.header ul li:hover {
  background-color: #6a819c;
}

.main {
  background: #122c460f;
  min-height: 110vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-caption {
  text-align: center;
}
.caption-text {
  color: #fff;
  line-height: 80px;
}

.caption-text h1 {
  font-size: 3.5rem;
}

.caption-text p {
  font-size: 1.75rem;
}

button {
  background: #22026b;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 20px 50px;
  font-size: 30px;
  cursor: pointer;
}

.text-btn {
  color: #22026b;
  text-decoration: none;
}

.text-btn:hover {
  color:#22026b;
  background: #ad9fcf; 
  padding: 5px 15px;
}

.footer {
  background: linear-gradient(to right, #22026b, #280c50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  flex-wrap: wrap;
  flex: 0 1 60%;
  color: rgb(24, 20, 32);
  min-height: 10vh;
}

.footer p {
  color: #fff;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
}

.footer ul li a {
  display: inline-block;
  padding: 20px;
  display: inline-block;
  padding: 20px;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}

.footer ul li:hover {
  background-color: #6a819c;
}

#main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/epic-mail.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media all and (max-width:550px) and (min-width:0px) {
  
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
  }

  .header h1 {
    font-size: 2em;
    margin-bottom: 5%
  }
  
  .header ul li a {
    padding: 15px;
  }

  li {
    margin: 3px;
  }

  .main-caption h1 {
    width: 100%;
    font-size: 2em;
    font-weight: 400;
  }

  .main-caption p {
    font-size: 1em;
  }

  .caption-text {
    color: #fff;
    line-height: 2.5rem;
  }

  .call-to-action {
    width: 80%;
    font-size: 1em;
  }
  
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
  }
}