.message-items input[type='text'] {
  margin-bottom: 1rem;
  line-height: 1.5rem;

}

input[type='text']::placeholder {
  padding: 5px;
}

.label {
  margin-bottom: 0.4rem;
}


@media all and (max-width:550px) and (min-width:0px) {
  .message-control input[type='text'] {
    width: 80vw;
  }
  
  .imessage-control input[type='button'] {
    width: 80vw;
  }
}