.send-message {
  width: 40vw;
}

.send-message input[type='text'], #message-body  {
  border: 1px solid #efefef;
  padding-left: 5px;
}
.message-items input[type='text'] {
  margin-bottom: 1rem;
  line-height: 2rem;
  width: 100%;
  padding-left: 5px;
}

.label {
  margin-bottom: 0.4rem;
}

#send-message {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background: #22026b;
  color: #ffffff;
  border: none;
}

@media all and (max-width:550px) and (min-width:0px) {
  .message-control input[type='text'] {
    width: 80vw;
  }
  
  .imessage-control input[type='button'] {
    width: 80vw;
  }
/* 
  #send-message {
    width: 80vw;
  } */
}