html {
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}

.header {
  min-height: 7vh;
  background: linear-gradient(to right, #22026b, #280c50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.header h1 {
  font-size: 2rem;
}

.header a {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
}

.header ul li a {
  display: inline-block;
  padding: 20px;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
}

.header ul li:hover {
  background-color: #6a819c;
}

.main {
  background: #122c460f;
  min-height: 86vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-caption {
  text-align: center;
}
.caption-text {
  color: #fff;
  line-height: 80px;
}

.caption-text h1 {
  font-size: 3.5rem;
}

.caption-text p {
  font-size: 1.75rem;
}

.send-a-mail {
  width: 50%;
  background: #ffffff;
  color: #22026b;
  border: none;
  border-radius: 10px;
  margin-top: 2%;
  padding: 20px 50px;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.text-btn {
  color: #22026b;
  text-decoration: none;
}

.text-btn:hover {
  color:#22026b;
  background: #ad9fcf; 
  padding: 5px 15px;
}

section {
margin: 0 auto;
}


.footer {
  background: linear-gradient(to right, #22026b, #280c50);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  color: rgb(24, 20, 32);
  min-height: 7vh;
}

.footer p {
  color: #fff;
}

#main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/epic-mail.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#view, #retract, #delete {
  width: 60px;
  font-size: 0.75rem;
  background-color: green;
  color: #ffffff;
  border: none;
  margin: 0.3rem 0;
  padding: 0.3rem 0.8rem;
}

#delete {
  background-color: red;
}

table tr td, table tr th {
  font-size: 0.75rem;
  padding: 1rem;
  margin: 1.5rem 0;
  text-align: left;
}


@media all and (max-width:550px) and (min-width:0px) {

  .header, .footer {
    min-height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header h1 {
    font-size: 2em;
    margin-top: 5%;
  }

  .main {
    min-height: 70vh;
  }

  .main-caption h1 {
    width: 100%;
    font-size: 2em;
    font-weight: 400;
  }

  .main-caption p {
    font-size: 1em;
  }

  .caption-text {
    color: #fff;
    line-height: 2.5rem;
  }

  .send-a-mail {
    width: 80%;
    font-size: 1em;
  }

  #reset-link {
    line-height: 20px;
  }

}
